@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap');

/* variables */
:root {
	--primary-color: #5924ed;
	--secondary-black: #ffffff;
	--secondary-gray: #ffffff;
	--body-bg: #000000;
}

/* global styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto Mono';
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-bg);
}
img {
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.6rem;
	color: var(--secondary-black);
}
.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	color:#ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #5a24ed2f;
	z-index: -1;
}
.buttons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.primary-btn {
	display: inline-block;
	box-shadow: 0px 0px 20px 0px #4705fc9f;
	color: white;
	font-size: 1.8rem;
	padding: 0.6em 3.6em;
	border-radius: 50px;
}
.buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}
.buttons svg {
	width: 50px;
	color: var(--primary-color);
}

/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 60px;
	width: 60px;
	background-color: rgb(0, 0, 0);
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0px 0px 20px 0px #4705fc9f;
	/* hover effect default */
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}
.scroll-top svg {
	width: 50%;
	color: rgb(113, 105, 255);
	pointer-events: none;
}

.scroll-top:hover {
	transform: scale(1);
}

/* Hero section Styles */
#hero {
	height: 100vh;
	width: 100%;
	padding-top: 10rem;
}
#hero .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
#hero .container .left {
	flex: 6;
	/* padding-right: 3rem; */
}
#hero .container .right {
	flex: 8;
}

#hero .left .subheading {
	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--primary-color);
	animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
	opacity: 0;
}
#hero .left .heading {
	font-size: 6rem;
	font-family: 'Montserrat';
	font-weight: 900;
	/* max-width: 400px; */
	overflow: hidden;
}
#hero .left .heading .wrapper {
	/* position: relative; */
	display: inline-block;
	overflow: hidden;
	color:#ffffff;
	/* border: 1px solid red; */
}
#hero .left .heading .wrapper span {
	position: relative;
	bottom: -70px;
	animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal {
	0% {
		bottom: -70px;
	}
	100% {
		bottom: 0px;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#hero .left .desc {
	margin-top: 2.5rem;
	max-width: 400px;
	animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
	opacity: 0;
}
#hero .left .buttons {
	animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
	opacity: 0;
}

#hero .right {
	text-align: right;
}
#hero .right img {
	width: 100%;
	max-width: 450px;
	height: 600px;
	object-fit: cover;
	object-position: 50% 30%;
	border-radius: 12px;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 9px;
	}
	#hero .container {
		flex-direction: column-reverse;
	}
	#hero .container .right {
		text-align: center;
		flex: 1;
		margin-bottom: 2rem;
	}
	#hero .container .left {
		text-align: center;
		padding-right: 0;
		flex: 1;
		height: fit-content;
	}
	#hero .left .buttons {
		justify-content: center;
	}
	#hero .left .heading {
		font-size: 4rem;
		margin: 0 auto;
	}
	#hero .container .left .desc {
		margin: 0 auto;
		margin-top: 2rem;
	}
	#hero .right img {
		width: 100%;
		height: 400px;
	}
}
@media only screen and (max-width: 950px) {
	#hero .container .right {
		flex: 6;
	}
}

/* Services Section */
#services {
	padding: 15rem 0;
	box-shadow: 0px 0px 20px 0px #4705fc9f;
}

#services .all-items {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
#services .item {
	padding: 1.5rem;
	transition: 0.3s ease-in-out background-color;
	border-radius: 12px;
	flex: 1;
}
#services .item:nth-child(1):hover {
	background-color: rgba(0, 0, 0, 0.35);
}
#services .item:nth-child(2):hover {
	background-color: rgba(0, 0, 0, 0.151);
}
#services .item:nth-child(3):hover {
	background-color: #00000093;
}
#services .item .icon {
	width: 50px;
	height: 50px;
	padding: 0.8rem;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	margin-bottom: 1rem;
}
#services .item-heading {
	font-weight: 500;
	font-size: 2rem;
	color:#ffffff;
	/* text-transform: uppercase; */
	margin-bottom: 1.5rem;
	font-family: 'Poppins';
}
#services .item-desc {
	color: var(--secondary-gray);
}
#services .item:nth-child(1) .icon {
	background-color: rgb(255, 255, 255);
}
#services .item:nth-child(2) .icon {
	background-color: rgb(255, 255, 255);
}
#services .item:nth-child(3) .icon {
	background-color: #ffffff;
}
@media only screen and (max-width: 768px) {
	#services .all-items {
		flex-direction: column;
		text-align: center;
	}
	#services .item .icon {
		margin: 0 auto;
		margin-bottom: 1rem;
	}
	#services .item {
		margin: 2rem 0;
	}
	#services .item:nth-child(1) {
		background-color: rgb(0, 0, 0);
	}
	#services .item:nth-child(2) {
		background-color: rgb(0, 0, 0);
	}
	#services .item:nth-child(3) {
		background-color: #000000;
	}
}

/* testimonial section */
#testimonial {
	padding: 15rem 0;
	overflow-x: hidden;
	box-shadow: 0px 0px 20px 0px #4705fc9f;
}
#testimonial .all-items {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}
#testimonial .item {
	text-align: center;
	position: relative;
	padding: 20px;
}
#testimonial .item:nth-of-type(1),
#testimonial .item:nth-of-type(3) {
	flex: 3;
	transform: scale(0.8);
}
#testimonial .item:nth-of-type(2) {
	flex: 4;
}

#testimonial .item::after {
	content: '';
	position: absolute;
	height: 120%;
	width: 100%;
	/* border: 1px solid var(--primary-color); */
	left: 0;
	top: 45px;
	z-index: -1;

	/* border-radius: 20px 50px 100px 50px; */
	box-shadow: 0px 0px 20px 0px #4705fc;
}
#testimonial .item:nth-of-type(2)::after {
	transform: box;
	border-radius: box;
	height: 100%;
}
#testimonial .item:nth-of-type(1)::after,
#testimonial .item:nth-of-type(3)::after {
	transform: box;
	height: 95%;
	border-radius: box;
}

#testimonial .img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 2rem;
}
#testimonial .img img {
	object-fit: cover;
}
#testimonial .testimonial-heading {
	font-size: 2.4rem;
	color:#ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat';
	margin-bottom: 0.5rem;
}
#testimonial .testimonial-sub-heading {
	font-size: 1.6rem;
	margin-bottom: 1rem;
	color: var(--secondary-gray);
}
#testimonial .icon {
	max-width: 25px;
	margin: 1.5rem auto;
	opacity: 0.5;
	color: var(--primary-color);
}
#testimonial .testimonial-desc {
	color: var(--secondary-gray);
}
@media only screen and (max-width: 950px) {
	#testimonial .all-items {
		flex-direction: column;
		max-width: 400px;
		margin: 0rem auto;
		gap: 50px;
	}
}

/* copyright Section */
#copyright {
	padding: 1rem 0;
	box-shadow: 0px 0px 20px 0px #4705fc;
}
#copyright p {
	color: white;
	margin: 1rem;
	font-size: 1.4rem;
}
@media only screen and (max-width: 768px) {
	#copyright p {
		text-align: center;
	}
}

/*--------------------------------------------------------------
# Visitor
--------------------------------------------------------------*/
.visitor {
	position: fixed;
	right: 0;
	left: 10px;
	bottom: 0;
	padding: 15px;
	text-align: left;
	font-size: 13px;
	color: rgb(255, 255, 255);
	z-index: 999999;
  }
  @media (max-width: 992px) {
	.visitor {
	  text-align: center;
	  padding: 10px;
	  background: rgba(0, 0, 0, 0.8);
	}
  }
  .visitor a {
	color: #4705fc;
	transition: 0.5s;
  }
  .visitor a:hover {
	color: #4705fc;
  }